WXT_FIREFOX_ADDON_ID=your-firefox-addon-id@example.com
WXT_FIREFOX_STRICT_MIN_VERSION=115.0
WRT_EXTENSION_AUTHOR_NAME=Your Name
WRT_EXTENSION_AUTHOR_EMAIL=you@example.com
WRT_EXTENSION_AUTHOR_WEBSITE=https://example.com
WRT_EXTENSION_REPO_URL=https://github.com/your-org/your-repo
WRT_CHANGELOG_ITEMS=Changelog 1||Changelog 2||Changelog 3
